---

name: lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Lint README (markdown)
        uses: avto-dev/markdown-lint@v1
        with:
          config: ./.markdownlint.yml
          args: ./README.md ./CHANGELOG.md
  yamllint:
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: YAML Lint
        uses: karancode/yamllint-github-action@master
        with:
          yamllint_comment: false
