---

name: yamllint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  yamllint:
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: YAML Lint
        uses: karancode/yamllint-github-action@master
        with:
          yamllint_comment: false
